@charset "utf-8";

/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ccc;
    background-color: #000;
}
li{ list-style: none;}
a{
    text-decoration: none;
    color: inherit;
}
.content{
    width: 400px; height: 200px;
}
.tab ul{
    display: flex;
    width: 200px;
}
.tab li{
    border: 1px solid #ff7200;
    border-bottom: 0;
    flex: 1;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.tab li:first-child{
    border-right: 0;
}
.tab li a{
    display: inline-block;
    width: 100%; height: 100%;
}
.tab li.active a{
    background-color: #ff7200;
    color: #000;
}

.notice{
    width: 100%; 
    border: 1px solid #ff7200;
    padding: 10px;
}
.notice ul li{
    border-bottom: 1px solid #333;
    line-height: 30px;
    font-size: 14px;
}

.gallery{
    width: 100%; height: 150px;
    border: 1px solid #ff7200;
    padding: 10px;
    display: none;
}
.gallery ul{
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
}
